<div class="row">
	<div class="small-12 column">
		<%= image_tag @place.image.url(:image_blog) %>
	</div>
</div>

<div class="row">
	<div class="small-8 column">
		<div>
			<h2>Nom de l'établissement</h2>
			<p><%= @place.name %></p>
		</div>

		<div>
			<h2>Histoire de l'établissement</h2>
			<p><%= @place.history.html_safe %></p>
		</div>

		<div>
			<h2>L'établissement en action</h2>
			<p><%= @place.mission.html_safe %></p>
		</div>

	</div>
	
	<div class="small-4 column">
		<div>
			<h2>Fiche d'identité</h2>
			<p><strong>Type : </strong><%= @place.typeplaces %></br></br>
			<strong>Date de création : </strong><%= @place.datecreation %></br></br>
			<strong>Publics : </strong><%= @place.publics.html_safe %></br></br>
			<strong>Capacité d'accueil: </strong></br>
			<%= @place.capacity.html_safe %></br></br>
			<strong>Adresse : </strong><%= @place.street %></br>
			<%= @place.zip_code %>	<%= @place.city %></br></br>
			<strong>Coordonnées</strong></br>
			Tel : <%= @place.tel %></br>
			Fax : <%= @place.fax %></br>
			Mail : <%= @place.email %></br></br>
			<strong>Direction : </strong><%= @place.direction.html_safe %></br></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 column">
		<h2>Projets en perspective</h2>
		<p><%= @place.projets.html_safe %></p>
	</div>
</div>

<div class="row">
	<div class="small-12 column">
		<h2>Admission</h2>
		<p><%= @place.admission.html_safe %></p>
	</div>
</div>
